[tool.black]
    line-length = 140
    include = '\.pyi?$'
    exclude = '''
    /(
        \.git
      | \.hg
      | \.mypy_cache
      | \.tox
      | \.venv
      | \.pytest_cache
      | \.gitignore
      | venv
      | _build
      | buck-out
      | build
      | dist
    )/
