#
# host1 --- router1 -- host3
#

switches: 2

machines:
  host1:
    type: host
    interfaces:
      eth12:
        ipv4: 10.0.12.1/24
        ipv6: fd00:12::1/64
        mac: 00:00:00:00:00:11
        bridge: 0
  # This is a stupid router that should be configured by hand
  router1:
    type: router
    interfaces:
      eth12:
        ipv4: 10.0.12.2/24
        ipv6: fd00:12::2/64
        mac: 00:00:00:00:00:12
        bridge: 0
      eth23:
        ipv4: 10.0.23.2/24
        ipv6: fd00:23::2/64
        mac: 00:00:00:00:00:22
        bridge: 1
  host3:
    type: host
    interfaces:
      eth23:
        ipv4: 10.0.23.3/24
        ipv6: fd00:23::1/64
        mac: 00:00:00:00:00:23
        bridge: 1
